<div class="container">
 <br>
 <h1>注文履歴一覧</h1>
 <br>

 <table class="table">
    <thead>
        <tr>
            <th bgcolor="#DCDCDC">購入日時</th>
            <th bgcolor="#DCDCDC">購入者</th>
            <th bgcolor="#DCDCDC">注文個数</th>
            <th bgcolor="#DCDCDC">注文ステータス</th>
        </tr>
    </thead>

    <tbody>
        <%# @orders.each do |order| %>
        <%# end %>
    </tbody>
 </table>
 <%#= paginate @orders %>
</div>